.Ligercard{
            width: 380px;
            height: 305px;
            display: flex; flex-flow: row wrap;
            image-orientation: center;
            }
.img{
      display: block;
      margin-left: 35px;
      margin-right: 35px;
      border: 2px solid rgb(0, 102, 102);
      width:300px;
      height:200px;
    }
.facts{
      border: 1px solid rgb(26, 198, 255);
       width: 300px;
       position: absolute;
       margin-left: 35px;
       margin-right: 35px;
       margin-top: 10px;
      }

.card{
      -webkit-box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.15);
      -moz-box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.15);
      box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.15);
      width: 375px;
      height: 700px;
      margin: 0 auto;
      background-color: rgb(179, 236, 255);
      }
 .Name{
      margin-left: 10%;
      margin-top: 5%;
      font-size: 30px;
      font-family: Libre Baskerville , serif;
    }
body{background-color: rgb(230, 255, 255);}
ul{
    list-style: none;
    margin-left: 1%
   }
span{
      font-weight: bold;
     }
.italic{
         font-style: italic;
         margin-left: 1%;
        }
 .text{
    margin-left: 1%
   }
